@import "~/styles/_mixins";

.header {
  position: fixed;
  width: 100%;
  z-index: var(--z-index-header);
  overflow: hidden;

  background: var(--black-opacity);
  @include blur;
  transition: background var(--transition), color var(--transition);
  border-bottom: 1px solid var(--white-opacity-6);
}
