@import "~/styles/_mixins";

.header {
  position: fixed;
  width: 100%;
  z-index: var(--z-index-header);
  overflow: hidden;

  background: var(--white-opacity);
  @include blur;
  transition: background var(--transition), color var(--transition);
}

@include darkTheme {
  .header {
    background: var(--black-opacity);
  }
}