# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules

# next.js
/client/.next/
/client/out/

# nest.js
/server/dist
/server/uploads/*

# production
/client/build

# misc
.DS_Store
.idea
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
*.env
.env.*

# typescript
*.tsbuildinfo
client/next-env.d.ts

# ide
.idea/vcs.xml
