@import "~/styles/_mixins";

.toast {
  background: var(--white);
  @include select-none;
  @include blur;
  width: 16rem;
  border-radius: var(--border-radius);
  overflow: hidden;

  &__content {
    position: relative;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__line {
    height: 0.25rem;
    border-radius: var(--border-radius);
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

@include darkTheme {
  .toast {
    background: var(--gray-8);
  }
}