@import "~/styles/_mixins";

.field {
  cursor: pointer;
  height: var(--field-height);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  background: var(--material-primary);
  border: 1px solid var(--gray-5);
  padding: 0 0.5rem;
  border-radius: var(--border-radius);
  color: var(--white);
  transition: border var(--transition), background var(--transition);

  &__placeholder {
    pointer-events: none;
    position: absolute;
    color: var(--gray-1);
    font-size: var(--p);
    transition: var(--transition);
    top: 0.25rem;

    &_active {
      top: -1.25rem;
      font-size: var(--small);
    }
  }

  &__error {
    border: 1px solid var(--red-4);
  }

  &__transparent {
    background: transparent;
    border: none;
    padding: 0;
    height: fit-content;
  }

  &__disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}

.input {
  background: transparent;
  width: 100%;
  height: 100%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &::-webkit-datetime-edit {
    color: transparent;
  }

  &:not([value=""])::-webkit-datetime-edit {
    color: white;
  }

  &::-webkit-calendar-picker-indicator {
    background: transparent;
    cursor: pointer;
    height: auto;
    position: absolute;
    inset: 0;
    width: auto;
  }
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 2rem;
  height: 1rem;
  padding: 0.125rem 0.075rem;

  border: 1px solid transparent;
  background: var(--gray-2);
  border-radius: var(--border-radius-full);
  transition: background var(--transition);

  &__error {
    border: 1px solid var(--red-4);
  }

  span {
    display: block;
    width: 0.875rem;
    height: 0.875rem;
    background: var(--white);
    border-radius: var(--border-radius-full);
  }

  &__active {
    justify-content: flex-end;
    background: var(--green-4);
  }
}

.select {
  position: absolute;
  top: calc(var(--field-height) + 0.25rem);
  left: 0;
  width: 100%;
  background: var(--material-primary);
  border-radius: var(--border-radius);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 12rem;
  z-index: var(--z-index-low);

  &__item {
    padding: 0.5rem 1rem;
    transition: var(--transition);
    border-radius: var(--border-radius-low);
    display: flex;
    align-items: center;

    @include isHover {
      background: var(--material-primary-hover);
    }
  }
}

.date {
  position: absolute;
  top: calc(var(--field-height) + 0.25rem);
  left: 0;
  width: 100%;
  background: var(--material-primary);
  border-radius: var(--border-radius);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: var(--z-index-low);
  @include flex-center;
}