@import "~/styles/_mixins";

.dropdown {
  &__wrapper {
    position: absolute;
    z-index: var(--z-index-medium);
    transform: translateX(-50%);
    background: var(--material-primary);
    min-width: 10rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    transition: background var(--transition);
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    transition: background var(--transition), color var(--transition);
    border-radius: var(--border-radius-low);

    &:active {
      scale: 0.97;
    }


    @include isHover {
      background: var(--material-primary-hover);
    }

    &_red {
      color: var(--red-4);

      @include isHover {
        background: var(--red-4);
        color: var(--white);
      }
    }
  }
}