@use "sass:math";

@function adaptive-value($startSize, $minSize, $customWidthFrom: 1100, $customWidthTo: 320) {
  $widthFrom: $customWidthFrom;
  $widthTo: $customWidthTo;

  // Формула плавуючого значення
  $slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
  $yIntersection: -$widthTo * $slope + $minSize;

  // Отримання значення властивості
  $flyValue: #{$yIntersection}" + " #{$slope * 100}vw;

  $propertyValue: #{"clamp(" $minSize "," $flyValue "," $startSize ")"};
  // Якщо значення мінусове
  @if ($minSize > $startSize) {
    $propertyValue: #{"clamp(" $startSize "," $flyValue "," $minSize ")"};
  }

  @return $propertyValue;
}

// ===================================================================
@mixin isHover {
  @media (hover: hover) {
    &:hover {
      @content
    }
  }
}

// ===================================================================
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ===================================================================
@mixin absolute {
  position: absolute;
  inset: 0;
}

// ===================================================================
@mixin blur {
  backdrop-filter: blur(1.5rem) saturate(180%);
  -webkit-backdrop-filter: blur(1.5rem) saturate(180%);
}

@mixin no-blur {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

@mixin select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

// ===================================================================
@mixin lightTheme {
  [data-theme="light"] {
    @content
  }
}

@mixin darkTheme {
  [data-theme="dark"] {
    @content
  }
}

// ===================================================================
@mixin mobile {
  @media screen and (min-width: 480px) and (max-width: 767.9px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1500px) {
    @content;
  }
}

@mixin pc-big {
  @media screen and (min-width: 1750px) {
    @content;
  }
}

// ===================================================================
