@import "_mixins";

// ===================================================================
label, header {
  @include select-none;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

// ===================================================================
.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  @include select-none;
}