<div
  style="box-sizing: border-box;
      font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
      font-size: 14px;
      line-height: 1.5;
      color: #24292e;
      background-color: #fff;
      border-spacing: 0;
      border-collapse: collapse;
      max-width: 544px;
      margin: 0 auto;
      width: 100%!important;"
>
  <div style='text-align: center; padding-bottom: 20px;'>
    <img
      src="https://ci3.googleusercontent.com/meips/ADKq_Nar0JIj1sLIhtrv2Pd5KMIcPWjDZmGQbwpTpIhXCr6BYNdFAyHsuPrK96vsBV08Et7bvG6-QojnCI5G9Ij2dMoHKSvMNzJaux-8V2GqOCpQ83DLLgIhw0fsvw=s0-d-e1-ft#https://github.githubassets.com/assets/octocat-logo-805b5c3e249f.png"
      alt="WoodLand"
      width="32"
      style="box-sizing:border-box; border-style:none"
    >
    <h2
      style="box-sizing: border-box;
        margin-top: 8px!important;
        font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 400!important;
        line-height: 1.25!important;"
    >
      <strong style="font-weight:600;box-sizing:border-box;">{{ name }}</strong>, you created an account on WoodLand.
    </h2>
  </div>

  <div style="text-align: center; border: 1px solid #e1e4e8; border-radius: 8px!important; padding: 16px;">
    <p
      style="font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; text-align: left;"
    >
      For account activation please follow the link below:
    </p>

    <a
      href="{{ href }}"
      style="background-color: #1f883d !important;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        font-size: inherit;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: .5em;
        cursor: pointer;
        font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
        padding: .75em 1.5em;"
      target="_blank"
    >
      Activate account
    </a>
  </div>

  <p
    style="margin-top: 30px;
    margin-bottom:10px;
    color:#6a737d !important;
    font-size:12px!important;
    font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    text-align: center"
  >
    Woodland
  </p>
</div>